[Unit]
Description=RPI Home Discovery Service
After=network.target network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/rpi_home/platform/services/discovery/discovery.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User={user}
Type=simple

[Install]
WantedBy=multi-user.target
